<div class="d-flex justify-content-center">
  <h1>Siembras Corantioquia</h1>
</div>
<div class="container">
  <div class="d-flex justify-content-between">
    <div class="row">
      <div class="dropdown">
        <div class="comboBox">
          <app-clientes></app-clientes>
        </div>
        <div class="comboBox">
          <app-veredas></app-veredas>
        </div>
        <div class="comboBox">
          <app-empleados></app-empleados>
        </div>
        <div class="comboBox">
          <app-repuestos></app-repuestos>
        </div>
      </div>
      <div class="col-md-6">
        <div class="table">
          <app-sedes></app-sedes>
        </div>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
